// src/components/Header/Header.scss
@import "../../variables";
@import "../../components/languageSelector/LanguageSelector.scss";

.navbar-container {
  background-color: $primary-color-light;
  height: 80px;
  width: auto;
  box-shadow: $box-shadow;
  transition: background-color 0.3s;
  font-size: $base-font-size;
  color: $font-color-light;
}

//Sample navbar
@mixin sample-navbar {
  //Container
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 ($spacing-unit * 2);

  //btn mamu
  .toggle-btn {
    display: none;
  }

  //Navbar Logo
  .navbar-container-logo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    .logo-image {
      width: 5rem;
      height: 5rem;
      padding-right: $spacing-unit;
    }
    .logo-image-link {
      position: absolute;
      width: 3rem;
      height: 5rem;
      padding: 0 ($spacing-unit * 2);
      opacity: 0;
    }
    .logo-name {
      color: $accent-color-light;
      font-weight: bold;
      font-size: $base-font-size * 2;
    }
  }

  //Navbar Links
  .navbar-container-links {
    display: flex;
    .link-dropdown-content {
      display: none;
    }
    .link-dropdown:hover .link-dropdown-content {
      position: absolute;
      z-index: 500;
      text-align: start;
      padding: $spacing-unit;
      background-color: $secondary-color-light;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $spacing-unit;
      a {
        padding: $spacing-unit;
        text-decoration: none;
      }
    }
  }

  //Navbvar control
  .navbar-container-control {
    display: flex;
    align-items: center;
    justify-content: center;
    .control-label-langue {
      margin-right: $spacing-unit;
    }
  }

  .navbar-container-account {
    display: flex;
    align-items: center;
    img {
      width: 3rem;
      height: 3rem;
      border: 1px solid $accent-color-light;
    }
  }
  @content;
}

//Navbar
//Navber for light theme
%nav-light {
  //Big screen
  @include breakpoint-big($desktop-breakpoint) {
    .navbar-container {
      @include sample-navbar;
    }
    .navbar-container-menu {
      background-color: $primary-color-light;
      height: 80px;
      width: 100%;
      box-shadow: $box-shadow;
      transition: background-color 0.3s;
      font-size: $base-font-size;
      color: $font-color-light;
      @include sample-navbar;
    }
  }

  //Small screen
  @include breakpoint-small($desktop-breakpoint) {
    //For menu are close
    .navbar-container {
      @include sample-navbar;
      .toggle-btn {
        display: block;
        border: 1px solid $accent-color-light;
        background-color: $accent-color-light;
        color: $secondary-color-light;
        font-size: $base-font-size;
        margin: 0;
        padding: $padding-btn;
        border-radius: $spacing-unit;
      }

      //Navbar Logo
      .navbar-container-logo {
        display: flex;
        flex-direction: column;
        .logo-image {
          width: 3rem;
          height: 3rem;
          padding: 0;
          margin: 0;
        }

        .logo-name {
          font-size: $base-font-size;
          padding: 0;
          margin: 0;
        }
      }

      //Navbar Links
      .navbar-container-links {
        display: none;
      }

      //Navbvar control
      .navbar-container-control {
        display: none;
      }
    }

    //Menu open
    .navbar-container-menu {
      @include sample-navbar;
      background-color: $primary-color-light;
      height: 80px;
      width: 100%;
      box-shadow: $box-shadow;
      transition: background-color 0.3s;
      font-size: $base-font-size;
      color: $font-color-light;
      .toggle-btn {
        display: block;
        border: 1px solid $accent-color-light;
        background-color: $primary-color-light;
        color: $accent-color-light;
        font-size: $base-font-size;
        margin: 0;
        padding: $padding-btn;
        border-radius: $spacing-unit;
      }
      .navbar-container-logo {
        display: flex;
        flex-direction: column;
        .logo-image {
          width: 3rem;
          height: 3rem;
          padding: 0;
          margin: 0;
        }

        .logo-name {
          font-size: $base-font-size;
          padding: 0;
          margin: 0;
        }
      }
      //Navbar Links
      .navbar-container-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        top: 3.8em;
        z-index: 500;
        text-align: left;
        width: 30%;
        background-color: $secondary-color-light;
        border-top-left-radius: $spacing-unit;
        a {
          margin: 1rem;
          // background-color: red;
        }
        .link-dropdown:hover .link-dropdown-content {
          background-color: $secondary-color-light;
          top: 0;
          left: 100%;
          z-index: 500;
          a {
            padding: 0;
            margin: $spacing-unit 1rem;
            color: $font-color-light;
          }
        }
      }

      //Navbvar control
      .navbar-container-control {
        position: absolute;
        top: 11.5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        z-index: 500;
        width: 30%;
        background-color: $secondary-color-light;
        .control-label-langue {
          display: none;
        }
      }
    }
  }

  @extend %languageSelector-light;
}

//Navber for dark theme
%nav-dark {
  @extend %nav-light;

  .navbar-container {
    background-color: $primary-color-dark;
    color: $font-color-dark;
  }
  @include breakpoint-big($desktop-breakpoint) {
    .navbar-container {
      .navbar-container-links {
        display: flex;
        .link-dropdown-content {
          display: none;
        }
        .link-dropdown:hover .link-dropdown-content {
          background-color: $secondary-color-dark;
        }
      }
    }
  }

  // //Small screen
  @include breakpoint-small($desktop-breakpoint) {
    .navbar-container {
      .toggle-btn {
        border: 1px solid $accent-color-dark;
        background-color: $accent-color-dark;
        color: $font-color-light;
      }
    }
    //////////////////////////////////////////////
    .navbar-container-menu {
      background-color: $primary-color-dark;
      color: $font-color-dark;
      .toggle-btn {
        background-color: $secondary-color-dark;
        color: $accent-color-dark;
      }

      //Navbar Links
      .navbar-container-links {
        background-color: $secondary-color-dark;
      }

      //Navbvar control
      .navbar-container-control {
        background-color: $secondary-color-dark;
      }
    }
  }

  @extend %languageSelector-dark;
}

//Theme with language
//Englsih
.navbar.light {
  @extend %nav-light;
}
.navbar.dark {
  @extend %nav-dark;
  background-color: $primary-color-dark;
}
