@import "../../variables";
.TextBorder.light {
  .TextBorder-container {
    color: $font-color-light;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: start;
    .TextBorder-container-label {
      font-weight: bold;
      padding-right: 1rem;
    }
  }
}
.TextBorder.dark {
  .TextBorder-container {
    color: $font-color-dark;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: start;
    .TextBorder-container-label {
      font-weight: bold;
      padding-right: 1rem;
    }
  }
}
