@import "../../variables";
.profile.light {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid $accent-color-light;
  box-shadow: $box-shadow;
  margin: 0;
  padding: 0;
}

.profile.dark {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid $accent-color-dark;
  box-shadow: $box-shadow;
  margin: 0;
  padding: 0;
}
