@import "../../variables";

@mixin sample-card {
  .card-container {
    border: 1px solid $accent-color-light;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    justify-items: center;
    text-align: center;
    max-width: 18rem;
    max-height: 20rem;
    .card-image {
      border: 1 solid $accent-color-light;
      max-height: 3rem;
      height: auto;
      border-radius: 0.5rem;
      width: 100%;
      object-fit: cover;
    }

    .card-profile {
      position: relative;
      top: -2rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid $secondary-color-light;
    }

    .card-detail {
      position: relative;
      top: -3rem;
      padding: 1rem 0;
      text-align: left;
      h2 {
        color: $accent-color-light;
        padding: 0;
        margin: 0;
        width: 17.5rem;
      }
      .card-detail-content {
        p {
          margin: 0;
          padding: 0;
        }

        margin: 1rem 0;
      }

      .card-detail-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin-right: $spacing-unit;
        }
      }
    }
    &:hover {
      transform: scale(1.025);
      border: 2px solid $accent-color-light;
    }
  }
}

%card-light {
  @include sample-card;
}
%card-dark {
  @include sample-card;
  .card-container {
    border: 1px solid $accent-color-dark;
    .card-image {
      border: 1 solid $accent-color-dark;
    }
    .card-profile {
      border: 4px solid $secondary-color-dark;
    }

    .card-detail {
      position: relative;
      top: -3rem;
      padding: 1rem 0;
      text-align: left;
      h2 {
        color: $accent-color-light;
        padding: 0;
        margin: 0;
      }
      .card-detail-content {
        p {
          margin: 0;
          padding: 0;
        }
        margin: 1rem 0;
      }

      .card-detail-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin-right: $spacing-unit;
        }
      }
    }
    &:hover {
      transform: scale(1.025);
      border: 2px solid $accent-color-light;
    }
  }
}

.card.light {
  @include sample-card;
}

.card.dark {
  @extend %card-dark;
}
