@import "../../variables";
@mixin sample-profileContainer {
  .ProfileContainer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $secondary-color-light;
    .ProfileContainer-container-left {
      width: 30%;
      margin: 1rem 0;
      box-shadow: $box-shadow;
      background-color: $primary-color-light;
    }
    .ProfileContainer-container-right {
      width: 65%;
      padding-bottom: 1rem;
      margin: 1rem 0;
      background-color: $primary-color-light;
      box-shadow: $box-shadow;
    }
  }

  .ProfileContainer-container-bottom {
    margin: 1rem;

    background-color: $primary-color-light;
    .comment-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 3rem;
        height: 3rem;
        border: 1px solid $accent-color;
      }
      button {
        padding: 1rem;
      }
      .comment-box {
        padding: 0.5rem;
        margin: 0.5rem 0rem;
        border-radius: 0.5rem;
        width: 80%;
      }
    }

    .comment-area {
      padding: 0;
      margin: 0;
      margin-top: 1rem;
      border-top: 2px solid $secondary-color-light;
      ul {
        list-style: none;
        padding: 0;
      }
      .comment-area-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0 1rem;
        img {
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          border: 1px solid $accent-color;
        }
        p {
          font-size: 1rem;
          padding: 0;
          margin: 0;
        }
      }
      .comment-area-comments {
        display: flex;
        align-items: center;
        p {
          padding: $spacing-unit;
          margin: 0 4rem;
          border: 1px solid $accent-color;
          width: 90%;
          border-radius: 0.5rem;
        }
        h2 {
          padding: $spacing-unit;
          margin: 0;
          font-size: 0.5rem;
        }
      }
    }
  }
}

%profileContainer-light {
  @include breakpoint-big($tablet-breakpoint) {
    @include sample-profileContainer;
  }
  @include breakpoint-small($tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    .ProfileContainer-container-bottom {
      background-color: $primary-color-light;

      .comment-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 2rem;
          height: 2rem;
          border: 1px solid $accent-color;
        }
        button {
          padding: 0.5rem;
        }
        .comment-box {
          padding: 0.5rem;
          margin: 0.5rem 0rem;
          border-radius: 0.5rem;
          width: 60%;
        }
      }

      .comment-area {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        border-top: 2px solid $secondary-color-light;
        ul {
          list-style: none;
          padding: 0;
        }
        .comment-area-profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0;
          margin: 0 $spacing-unit;
          img {
            margin-right: $spacing-unit;
            width: 2rem;
            height: 2rem;
            border: 1px solid $accent-color;
          }
          p {
            font-size: 1rem;
            padding: 0;
            margin: 0;
          }
        }
        .comment-area-comments {
          display: flex;
          align-items: center;
          p {
            padding: $spacing-unit;
            margin: 0 3rem;
            border: 1px solid $accent-color;
            width: 80%;
            border-radius: 0.5rem;
          }
          a {
            padding: $spacing-unit;
            margin: 0;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

%profileContainer-dark {
  @extend %profileContainer-light;
  .ProfileContainer-container {
    background-color: $secondary-color-dark;
    .ProfileContainer-container-left {
      background-color: $primary-color-dark;
    }
    .ProfileContainer-container-right {
      background-color: $primary-color-dark;
    }
  }
}
.ProfileContainer.light {
  @extend %profileContainer-light;
}

.ProfileContainer.dark {
  @extend %profileContainer-dark;
}

@mixin sample-profileDetail {
  .userserviceDetail-container {
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    h2 {
      white-space: normal;
    }
    .userserviceDetail-container-tag {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .userserviceDetail-container-rate {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      p {
        margin-left: 1rem;
      }
    }
    .userserviceDetail-container-detail {
      width: auto;
      padding: 0 $spacing_unit;
      p {
        margin: 0.5rem 0;
      }
    }
    .userserviceDetail-container-rating {
      margin-top: 1rem;
    }
  }
  @content;
}

%profileDetail-light {
  @include sample-profileDetail;
}
%profileDetail-dark {
  @include sample-profileDetail;
}

.userprofileDetail.light {
  @extend %profileDetail-light;
}

.userprofileDetail.dark {
  @extend %profileDetail-dark;
}

.serviceDetail-container {
  display: flex;
  margin: $spacing-unit 1rem;
  button {
    margin-right: $spacing_unit;
  }
  .disabled {
    background: none;
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
